* {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    color: #fff;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

body ul {
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

.row {
    margin: 0;
}


/* ----- HEADER ----- */

header {
    background: url(../img/header-bg.jpg) center center no-repeat;
    background-size: cover;
    text-align: center;
}

.big-txt {
    text-transform: uppercase;
    font-weight: 700;
}

.blue {
    color: #22265b;
}


/* NAVIGATION */

.navigation {
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 40px 7% 40px 0;
    background: #3e4a9e;
    /* Older browsers */
    background: -webkit-linear-gradient(#3444af, #7739ad);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3444af, #7739ad);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3444af, #7739ad);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3444af, #7739ad);
    max-height: 813px;
    min-height: 813px;
    transition: all 0.3s cubic-bezier(1, .05, .5, .9);
}


/* MENU LIST */

.navigation .menu-list li {
    opacity: 0;
    position: relative;
    left: 20px;
    list-style-type: none;
    text-align: right;
    transition: all 0.2s linear;
}

.navigation .menu-list li a {
    font-family: 'Montserrat', arial;
    font-weight: 700;
    line-height: 55px;
    font-size: 26px;
    margin: 0 0 40px 0;
    transition: color 0.2s ease;
}

.navigation .menu-list li:nth-child(5) {
    margin-bottom: 30px;
}

.navigation .menu-list li a:hover {
    color: #9691cd;
    text-decoration: none;
}

.navigation .menu-list li a:active,
.navigation .menu-list li a:focus {
    color: #fff;
    text-decoration: none;
}

.navigation .menu-list li:last-child > a {
    line-height: 90px;
    color: #e5e5e5;
}

.navigation .menu-list li:last-child::before,
.navigation ul li:last-child::after {
    content: "";
    background-color: rgba(255, 255, 255, 0.11);
    height: 1px;
    position: absolute;
    display: block;
    left: -4px;
    width: 117%;
}

.slide-menu-show {
    transform: translateX(0%);
    opacity: 1;
}


/* END OF MENU LIST */


/* CONTACT LIST */

.contact-list p,
.contact-list a,
.contact-list h6 {
    font-size: 16px;
    color: #9691cd;
    margin: 0;
    line-height: 17px;
}

.navigation .contact-list {
    position: relative;
    opacity: 0;
    left: 20px;
    margin-bottom: 80px;
    transition: all 0.2s linear;
}

.contact-list h6 {
    color: #fff;
    margin: 30px 0 0 0;
}

.contact-list li {
    list-style-type: none;
    text-align: right;
}

.contact-list a {
    text-decoration: underline;
}

.contact-list li:first-child > h6 {
    font-weight: 700;
    margin-top: 40px;
}

.contact-list li::after {
    display: none!important;
}


/* END OF CONTACT LIST */


/* SOCIAL LIST */

.navigation .social-list {
    list-style-type: none;
    position: absolute;
    right: 14%;
    bottom: 40px;
    padding: 0;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.navigation .social-list li {
    float: left;
    margin: 15px 30px 0 30px;
}


/*.navigation .social-list li:first-child {
    margin-left: 10px;
}*/

.navigation .social-list li:last-child {
    margin-right: 0;
}

.navigation .social-list i {
    color: #9691cd;
    font-size: 23px;
    text-align: right;
    transition: color 0.2s ease;
}

.navigation .social-list i:hover {
    color: #fff;
}

.navigation .social-list li::after {
    display: none!important;
}


/* END OF SOCIAL LIST */

#hamburger {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 65px;
    left: 65px;
    z-index: 20;
}

#hamburger span:nth-child(1) {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 26px;
    height: 2px;
    margin: 5px;
    background-color: #c4c4c4;
    transition: all 0.3s ease;
}

#hamburger span:nth-child(2) {
    display: block;
    position: relative;
    width: 26px;
    height: 2px;
    margin: 5px;
    background-color: #c4c4c4;
    transition: all 0.2s ease;
}

#hamburger span:nth-child(3) {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 26px;
    height: 2px;
    margin: 5px;
    background-color: #c4c4c4;
    transition: all 0.3s ease;
}

#hamburger.is-active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
    left: 0px;
}

#hamburger.is-active span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#hamburger.is-active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -7px;
    left: 0px;
}

.navigation .menu-list li.list-show,
.navigation .contact-list.list-show {
    opacity: 1;
    left: 0;
}

.navigation .social-list.list-fade-show {
    opacity: 1;
}


/* END OF NAVIGATION */

.main-banner img {
    padding: 255px 0 100px 0;
    max-width: 100%;
}

.main-banner p {
    display: block;
    font-weight: 700;
    font-size: 16px;
    padding: 0 0 40px 0;
}

.arrow-button {
    margin: 0 0 65px 0;
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    animation: bounceArrow 2s infinite;
}

.arrow-left,
.arrow-right {
    border-bottom: 1px solid #fff;
    display: inline-block;
    width: 20px;
    position: relative;
    padding: 0 0 30px 0;
}

.arrow-left {
    left: 15px;
    top: 1px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.arrow-right {
    right: 15px;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

@-webkit-keyframes bounceArrow {
    0% {
        transform: translateY(0%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(30%);
    }
}

@-webkit-keyframes bounceArrow {
    0% {
        transform: translateY(0%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(30%);
    }
}

@-webkit-keyframes bounceArrow {
    0% {
        transform: translateY(0%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(30%);
    }
}

@-webkit-keyframes bounceArrow {
    0% {
        transform: translateY(0%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(30%);
    }
}


/* ----- END OF HEADER ----- */


/* ----- ABOUT ----- */


/* GRAPHICS */

#about .graphics .main-graphics {
    background: url(../img/graphics-bg.jpg) center center no-repeat;
    background-size: cover;
}

.main-graphics {
    padding: 65px 7% 65px 2%;
    text-align: right;
    min-height: 875px;
    max-height: 875px;
}

.main-graphics p {
    color: #b2b5e7;
    font-size: 18px;
    line-height: 20px;
    margin: 22px 0;
}

.image-wrap img {
    margin: 25px;
    position: relative;
}

.main-graphics .image-wrap img {
    top: -1px;
    right: 1px;
}

.image-wrap {
    position: absolute;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 10px;
}

.main-graphics .image-wrap {
    right: 17px;
}

.main-graphics h1,
.main-video h1 {
    font-size: 36px;
    font-family: 'Montserrat', arial;
    margin: 170px 0 40px 0;
}

.graphics-links {
    position: relative;
    bottom: -14px;
}

.graphics-links img {
    position: relative;
    bottom: 2px;
    border: 1px solid #fff;
    padding: 17px 17px 18px;
}

.graphics-links a {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 40px;
    margin: 49px 0 0 30px;
}

.graphics-links a:hover,
.video-links a:hover {
    text-decoration: none;
}


/* END OF GRAPHICS */


/* VIDEO */

#about .video .main-video {
    background: url(../img/video-bg.jpg) center center no-repeat;
    background-size: cover;
}

.main-video {
    padding: 65px 2% 65px 7%;
    min-height: 875px;
    max-height: 875px;
}

.main-video p {
    color: #909090;
    font-size: 18px;
}

.main-video .image-wrap {
    border: 1px solid #22265b;
    left: 17px;
}

.main-video .image-wrap img {
    top: -2px;
    left: -2px;
}

.video-links {
    position: relative;
    bottom: 0px
}

.video-links img {
    position: relative;
    bottom: 2px;
    border: 1px solid #22265b;
    padding: 17px 17px 18px;
}

.video-links a {
    display: inline-block;
    border: 1px solid #22265b;
    padding: 20px 40px;
    margin: 49px 30px 0 0;
}

.video-links a:hover {
    color: #22265b;
}


/* END OF VIDEO */


/* ----- END OF ABOUT ----- */


/* ----- PRODUCTION ----- */


/* PRODUCTION TITLE / LIST */

.prod-title {
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
}

.prod-title h1 {
    font-size: 36px;
    margin: 65px 0 35px 0;
}

.prod-title ul {
    margin: 0;
}

.prod-title ul li {
    display: inline-block;
    padding: 25px 95px;
}

.prod-title ul li button {
    background-color: transparent;
    outline: none;
    border: none;
    text-decoration: none;
    font-size: 16px;
}

#menu-line {
    position: absolute;
    left: 236px;
    bottom: 0;
    opacity: 1;
    background-color: #22265b;
    height: 2px;
    width: 255px;
    transition: all 0.2s ease;
}



/* END OF PROD. TITLE / LIST */


/* PRODUCTION WRAPPER */

.prod-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 65px;
}

.wrapper-list {
    transition: height 0.1s ease;
}


.prod-box {
    display: inline-block;
    min-width: 320px;
    height: 180px;
    margin: 30px 15px 0;
}

.grid-item {
    width: 320px;
}

.prod-hover {
    position: absolute;
    min-width: 320px;
    height: 180px;
    text-align: left;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease-out;
}

.prod-hover span {
    position: relative;
    top: 20px;
    left: 30px;
    font-size: 14px;
    font-weight: 400;
    opacity: 1;
}

.prod-hover h2 {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    top: 5px;
    left: 30px;
    max-width: 150px;
    line-height: 23px;
    opacity: 1;
}

 .prod-hover i {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 35px;
    opacity: 1;
}

.show {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    opacity: 1;
    transition: all 0.2s ease-out;
}

.hide {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.0);
    opacity: 0;
    transition: all 0.2s ease-out;
}

/* ART */

.prod-wrapper .art-1 {
    background: url(../img/thumbnails/art-1.jpg) center center no-repeat;
    background-size: cover;
}

.prod-wrapper .art-2 {
    background: url(../img/thumbnails/art-2.jpg) center center no-repeat;
    background-size: cover;
}

.prod-wrapper .art-3 {
    background: url(../img/thumbnails/art-3.jpg) center center no-repeat;
    background-size: cover;
}

.prod-wrapper .art-4 {
    background: url(../img/thumbnails/art-4.jpg) center center no-repeat;
    background-size: cover;
}

.prod-wrapper .art-5 {
    background: url(../img/thumbnails/art-5.jpg) center center no-repeat;
    background-size: cover;
}


/* END OF ART */


/* VIDEO */

.prod-wrapper .video-1 {
    background: url(../img/thumbnails/video-1.jpg) center center no-repeat;
    background-size: cover;
}

.prod-wrapper .video-2 {
    background: url(../img/thumbnails/video-2.jpg) center center no-repeat;
    background-size: cover;
}

.prod-wrapper .video-3 {
    background: url(../img/thumbnails/video-3.jpg) center center no-repeat;
    background-size: cover;
}

.prod-wrapper .video-4 {
    background: url(../img/thumbnails/video-4.jpg) center center no-repeat;
    background-size: cover;
}

.prod-wrapper .video-5 {
    background: url(../img/thumbnails/video-5.jpg) center center no-repeat;
    background-size: cover;
}


/* END OF VIDEO */


/* PHOTO */

.prod-wrapper .photo-1 {
    background: url(../img/thumbnails/photo-1.jpg) center center no-repeat;
    background-size: cover;
}

.prod-wrapper .photo-2 {
    background: url(../img/thumbnails/photo-2.jpg) center center no-repeat;
    background-size: cover;
}

.prod-wrapper .photo-3 {
    background: url(../img/thumbnails/photo-3.jpg) center center no-repeat;
    background-size: cover;
}

.prod-wrapper .photo-4 {
    background: url(../img/thumbnails/photo-4.jpg) center center no-repeat;
    background-size: cover;
}

.prod-wrapper .photo-5 {
    background: url(../img/thumbnails/photo-5.jpg) center center no-repeat;
    background-size: cover;
}


/* ----- END OF PRODUCTION ----- */


/* ----- CLIENTS ----- */

.clients-title {
    background: url(../img/clients-bg.jpg) center center no-repeat;
    background-size: cover;
    text-align: center;
}

.clients-title h1 {
    margin: 65px 0 150px 0;
    font-size: 36px;
}

.clients-title .arrow-left,
.clients-title .arrow-right {
    border-bottom: 1px solid #22265b;
}

.clinets-grid img {
    display: inline-block;
    margin: 0 20px 50px 20px;
}

.clinets-grid:last-child {
    margin-bottom: 170px;
}


/* ----- END OF CLIENTS ----- */


/* ----- CONTACT ----- */


/* GOOGLE MAPS */

.contact-main {
    padding: 0;
}

#google-maps {
    padding: 0;
}

#map {
    padding: 0;
    height: 843px;
}


/* END OF GOOGLE MAPS */


/* CONTACT FORM */

.form-row {
    background: #3e4a9e;
    /* Older browsers */
    background: -webkit-linear-gradient(#3444af, #7739ad);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3444af, #7739ad);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3444af, #7739ad);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3444af, #7739ad);
    height: 843px;
    padding: 20px 40px;
}

.form-row .contact-list li {
    text-align: left;
}

.form-row .contact-list li p {
    color: #fff;
}

.form-row .contact-list li a {
    text-decoration: none;
}

.form-row h4 {
    font-size: 26px;
    margin-top: 50px;
}

.cont-form input {
    display: block;
    background-color: transparent;
    border: 1px solid rgba(187, 187, 187, 0.33);
    width: 100%;
    min-width: 120px;
    padding: 10px 25px;
    margin: 20px 0;
    transition: all 0.3s ease;
}

.cont-form input:focus,
.cont-form textarea:focus {
    border: 1px solid #fff;
}

.cont-form textarea {
    height: 185px;
    max-height: 185px;
    width: 100%;
    min-width: 120px;
    background-color: transparent;
    border: 1px solid rgba(187, 187, 187, 0.33);
    padding: 10px 25px;
    color: #acacac;
    transition: all 0.3s ease;
}

.cont-form button {
    z-index: 2;
    position: absolute;
    bottom: 174px;
    right: 50px;
    border: none;
    background-color: transparent;
}

.copy {
    display: inline-block;
    margin: 75px 10px 0 0;
}

.form-row img:last-child {
    display: inline-block;
    position: relative;
    bottom: 2px;
}

.contact-form {
    background: url(../img/contact-bg2.jpg) center right no-repeat;
    background-size: contain;
    height: 843px;
    padding: 0;
}


/* END OF CONTACT FORM */


/* ----- END OF CONTACT ----- */